<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <div style="text-align: center">
    <form method="post">
        {% csrf_token %}
        {{form}}
        <button>login</button>
    </form>
    </div>
    <div style="text-align: center; padding-top: 15px">
    <form method="get" action="/accounts/register">
        <button type= "submit">Register a new account</button>
    </form>
    </div>
</body>
</html>